
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content %}

<body class="text-center">
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please Login below</h1>
        <br>
        <br>
        <form action="{{ url_for('login') }}" method="POST" style="width: 30%; position: relative;left: 35%;">
             {{ form.hidden_tag() }}
             {{ wtf.form_field(form.email) }}
             {{ wtf.form_field(form.password) }}
    <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button name="login" class="btn btn-lg btn-primary btn-block" input type="submit" value="parent" style="background-color: #08a12e;">Login Parent</button>
    <button name="login" class="btn btn-lg btn-primary btn-block" input type="submit" value="student" style="background-color: #08a12e;">Login Student</button>
    
        <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
        </form>
    </div>
</body>

{% endblock %}

