

{% extends "base.html" %}
{%block content%}

	<body>
		
	
	
	

	<div id="fh5co-pricing" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Plan &amp; Pricing</h2>
					
				</div>
			</div>
			<div class="row">
				<div class="pricing pricing--rabten">
					<div class="col-md-4 animate-box">
						<div class="pricing__item">
							<div class="wrap-price">
								 <!-- <div class="icon icon-user2"></div> -->
	                     <h3 class="pricing__title">Extra courses</h3>
	                     <!-- <p class="pricing__sentence">Single user license</p> -->
							</div>
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>0-200
                        </span>
                        <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per year</span>
                        </span>
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">Extra curricular learning</li>
	                        <li class="pricing__feature">Games</li>
	                        <li class="pricing__feature">Social activities</li>
	                        <li class="pricing__feature"></li>
	                        <li class="pricing__feature"></li>
	                        <li class="pricing__feature"></li>
	                         <li class="pricing__feature"></li>
	                     </ul>
	                     
                     </div>
                  </div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="pricing__item">
							<div class="wrap-price">
								<!-- <div class="icon icon-store"></div> -->
	                     <h3 class="pricing__title">Pay per course</h3>
	                     <!-- <p class="pricing__sentence">Up to 5 users</p> -->
							</div>
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>600
                        </span>
                        <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per year</span>
                        </span>
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">Interactive courses</li>
	                        <li class="pricing__feature">30+ courses</li>
	                        <li class="pricing__feature">Live classes</li>
	                        <li class="pricing__feature"></li>
	                        <li class="pricing__feature"></li>
	                        <li class="pricing__feature"></li>
	                         <li class="pricing__feature"></li>
	                     </ul>
	                    
                     </div>
                 </div>
					</div>
					<div class="col-md-4 animate-box">
                  <div class="pricing__item">
                  	<div class="wrap-price">
                  		<!-- <div class="icon icon-home2"></div> -->
	                     <h3 class="pricing__title">Pay per year</h3>
	                     <!-- <p class="pricing__sentence">Unlimited users</p> -->
							</div>
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">$</span>3,500
                        </span>
                        <span class="pricing__anim pricing__anim--2">
								<span class="pricing__period">per year</span>
                        </span>
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">School year education</li>
	                        <li class="pricing__feature">Top teachers</li>
	                        <li class="pricing__feature">Interactive classes</li>
	                        <li class="pricing__feature">Games</li>
	                        <li class="pricing__feature">Social platform</li>
	                        <li class="pricing__feature"></li>
	                         <li class="pricing__feature"></li>
	                     </ul>
	                     
                     </div>
                  </div>
               </div>

			   <div class="col-md-4 animate-box">
				<div class="pricing__item">
					<div class="wrap-price">
						<!-- <div class="icon icon-home2"></div> -->
					   <h3 class="pricing__title">Schools</h3>
					   <!-- <p class="pricing__sentence">Unlimited users</p> -->
						  </div>
				   <div class="pricing__price">
					  <span class="pricing__anim pricing__anim--1">
							  <span class="pricing__currency">$</span>15,000
					  </span>
					  <span class="pricing__anim pricing__anim--2">
							  <span class="pricing__period">per year</span>
					  </span>
				   </div>
				   <div class="wrap-price">
					   <ul class="pricing__feature-list">
						  <li class="pricing__feature">Partnership with schools</li>
						  <li class="pricing__feature">Tailor made</li>
						  <li class="pricing__feature">Additional learning material</li>
						  <li class="pricing__feature">24/7 support</li>
						  <li class="pricing__feature">Free Ebook Downloads</li>
						  <li class="pricing__feature"></li>
						   <li class="pricing__feature"></li>
					   </ul>
					   
				   </div>
				</div>
			 </div>
            </div>
			</div>
		</div>
	</div>

	

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	{% endblock %}

	

	</body>
</html>

